@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  background-color: #201411; 
  margin:0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  background-color: #544343;
  color: #E7DFD8;
  width: 100%; 
  box-sizing: border-box; 
  font-family: 'Poppins', sans-serif;
  position: fixed;
  z-index: 1;
  top:0;

}

.logo {
    display: flex;
    align-items: center;
}

nav {
  text-align: right;
  padding-right: 20px;
  padding-left: 120px;
}

nav a {
  color: #E7DFD8;
  text-decoration: none; 
  margin-right: 15px; 
  font-size: 16px; 
  font-weight: 500; 
  transition: background-color 0.3s ease; 
  display: inline-block; 
  padding: 15px 20px; 
}

nav a:hover {
  color: #ffcec3;
}

.box {
  width: 90%; /* Set the width of the box */
  border: 2px solid rgba(221, 221, 221, 0.5);
  padding: 20px;
  margin: 100px auto 20px; /* Center horizontally and set top margin to 100px and bottom margin to 20px */
  align-items: center;
  color: #ddd;
}

/* Style for the content inside the box */
.content {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 1.0; /* Adjust the value to change line spacing */
}

.shortDesc {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  text-align: justify;
  padding: 2px;
  margin: 5px;
}

/* Style for the left side (content) */
.left {
  flex: 1; /* Take up remaining space */
}

/* Style for the right side (picture) */
.right {
  margin-left: 20px; /* Spacing between content and picture */
}

/* Style for the social media links */
.social-media {
  margin-top: 20px; /* Spacing between content and social media links */
  font-size: 20px;
}
h5{
  margin-left: 5px;
}

.social-media ul {
  list-style: none;
  padding: 0;
}

.social-media ul li {
  display: inline-block;
  margin-right: 2px; /* Spacing between social media links */
}

.social-media ul li a {
  color: #333;
  text-decoration: none;
}

.social-media ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: #544343; /* Background color */
  color: #ffffff;
  text-align: center; /* Center align text */
  padding: 2px;
  position: relative;
  font-family: 'Poppins', sans-serif;
}
